body{
     margin: 0;
     display: flex;
     justify-content: center;
     height: 100vh;
     align-items: center;
     font-family: cursive;
    background-color: orchid;
}

.calendar-container {
    width: 300px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    overflow: hidden;
}

.month-name{
    margin: 0;
    background-color: rgb(118, 207, 54);
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}

.day-name{
    font-size: 20px;
    color: darkgrey;
}

.day-number{
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    /* color: rgb(118, 207, 54); */
}

.year{
    margin: 20px;
    font-size: 20px;
    color: darkgray;
    font-weight: 500;
}